.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/dubstep.jpg);
    background-size: 1400px;
    background-position: 45% 80%;
}

.panel {
    padding: 8% 5% 0% 5%;
}

.opinion1 {
    background-color: rgb(57, 42, 69);
}

.opinion2 {
    background-color: rgb(57, 42, 69);
}

.tracks {
    display: grid;
    grid-template-columns: 33.2% 33.2% 33.2%;
    column-gap: 0.2%;
}