.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/dubstep.jpg);
    background-size: 1400px;
    background-position: 45% 80%;
}

.tracks {
    display: grid;
    grid-template-columns: 33.2% 33.2% 33.2%;
    column-gap: 0.2%;
}