.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/hard-bop.jpg);
    background-position: 45% center;
    background-size: 100%;
}

.tracks {
    display: grid;
    grid-template-columns: 49.9% 49.9%;
    column-gap: 0.2%;
}