.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/electropop_taust.jpg);
    background-size: 100%;
}

.tracks {
    display: grid;
    grid-template-columns: 33.2% 33.2% 33.2%;
    column-gap: 0.2%;
}