.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/house.jpg);
    background-size: 100%;
    background-position: 45% center;
}

.tracks {
    display: grid;
    grid-template-columns: 33.2% 33.2% 33.2%;
    column-gap: 0.2%;
}