.grid-konteiner {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.pop, .hiphop, .dzass, .rock, .edm{
    width: 100%;
    height: 20%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.2);
}

.pop:hover, .hiphop:hover, .dzass:hover, .rock:hover, .edm:hover {
    transition: 1s ease;
    opacity: 78%;
}

.pop:hover img, .hiphop:hover img, .dzass:hover img, .rock:hover img, .edm:hover img{
    transform: scale(0.95);
}

.pop img {
    position: absolute;
    top: -650px;
    left: -100px;
    width: 2400px;
    opacity: 80%;
    transform-origin: calc(43% - 100px * var(--width-ratio)) calc(50% - 650px * var(--height-ratio));
    transition: 1s ease;
}

.hiphop img {
    position: absolute;
    top: -830px;
    left: -100px;
    width: 2400px;
    opacity: 80%;
    transform-origin: calc(43% - 100px * var(--width-ratio)) calc(50% - 830px * var(--height-ratio));
    transition: 1s ease;
}

.dzass img {
    position: absolute;
    top: -500px;
    left: -100px;
    width: 2400px;
    opacity: 80%;
    transform-origin: calc(43% - 100px * var(--width-ratio)) calc(50% - 500px * var(--height-ratio));
    transition: 1s ease;
}

.rock img{
    position: absolute;
    top: -750px;
    left: -70px;
    width: 2400px;
    opacity: 80%;
    transform-origin: calc(43% - 70px * var(--width-ratio)) calc(50% - 750px * var(--height-ratio));
    transition: 1s ease;
}

.edm img{
    position: absolute;
    top: -850px;
    left: -340px;
    width: 2400px;
    opacity: 80%;
    transform-origin: calc(43% - 340px * var(--width-ratio)) calc(50% - 850px * var(--height-ratio));
    transition: 1s ease;
}

.stiilinimi {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    z-index: 1;
}