.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/petrucci.png);
    background-position: 45% center;
    background-size: 1500px;
    background-repeat: no-repeat;
}

.tracks {
    display: grid;
    grid-template-columns: 49.9% 49.9%;
    column-gap: 0.2%;
}