.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/prog_rock.jpg);
    background-size: 100%;
}

.panel {
    padding: 8% 5% 0% 5%;
}

.opinion1 {
    background-color: rgb(57, 53, 86);
}

.opinion2 {
    background-color: rgb(57, 53, 86);
}

.tracks {
    display: grid;
    grid-template-columns: 49.9% 49.9%;
    column-gap: 0.2%;
}