.main {
    position: relative;
    height: 615px;
    background-image: url(../pildid/zanrite_pildid/rock_guitarist.jpg);
    background-position: 45% center;
    background-size: 80%;
}

.panel {
    margin-left: 49.5%;
}

.opinion1 {
    background-color: rgb(79, 113, 125);
}

.opinion2 {
    background-color: rgb(79, 113, 125);
}

.tracks {
    display: grid;
    grid-template-columns: 49.9% 49.9%;
    column-gap: 0.2%;
}